body {
    background-color: #e3f0fc;
}

* {
    box-sizing: border-box;
}

#tabela {
    width: 65%;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #dfe2e8;
    margin-left: auto;
    margin-right: auto;
}

#unosPodataka {
    font-size: 1.5em;
}

input[type="text"] {
    width: 100%;
    font-size: 1.3em;
}

tr:last-of-type td {
    text-align: center;
}

input[type="submit"] {
    width: 50%;
    margin: 5px;
    font-size: 1.1em;
}

.podaciORepozitoriju {
    text-align: center;
    font-size: 1.7em;
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    #unosPodataka {
        font-size: 0.5em;
    }
    input[type="submit"] {
        font-size: 0.6em;
        width: 50%;
        margin: 5px;
    }
    #tabela {
        width: 70%;
        border-radius: 3px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        background-color: #dfe2e8;
        margin-left: auto;
        margin-right: auto;
    }
    input[type="text"] {
        width: 100%;
        font-size: 0.5em;
    }
    .podaciORepozitoriju {
        text-align: center;
        font-size: 1em;
    }
}

@media screen and (max-width: 499px) {
    #unosPodataka {
        font-size: 0.4em;
    }
    input[type="text"] {
        width: 100%;
        font-size: 0.4em;
    }
    input[type="submit"] {
        font-size: 0.4em;
        width: 50%;
        margin: 5px;
    }
    #tabela {
        width: 85%;
        border-radius: 3px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        background-color: #dfe2e8;
        margin-left: auto;
        margin-right: auto;
    }
    .podaciORepozitoriju {
        text-align: center;
        font-size: 0.7em;
    }
}