* {
    box-sizing: border-box;
}

body {
    background-color: #e3f0fc;
}

#labela {
    font-size: 30px;
}

#unosGrupe {
    background-color: #a6c5f7;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

input[type="text"] {
    width: 100%;
    font-size: 1.3em;
}

#btnPosalji {
    border: 1px solid rgb(146, 146, 250);
    margin: 10px;
    margin-left: 0;
    font-size: 1.3em;
    border-radius: 0;
}

#naslov {
    text-align: center;
    font-size: 2em;
}