body {
    background-color: #e3f0fc;
}

#labela {
    font-size: 30px;
}

#unosVjezbi {
    background-color: #a6c5f7;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

#zadaci {
    padding: 10px;
    width: 100%;
}

input[type="number"] {
    width: 100%;
    font-size: 1.3em;
}

#btnPosalji {
    border: 1px solid rgb(146, 146, 250);
    border-radius: 0;
}

* {
    box-sizing: border-box;
}