li {
    display: inline;
    padding-right: 2%;
}

ul {
    margin: 0;
    padding-left: 0;
}

#meni {
    padding-left: 1%;
    background-color: #aecbd6;
    padding-top: 60px;
    padding-bottom: 10px;
    height: 30px;
}

body {
    background-color: #e3f0fc;
}

#odabirVjezbe {
    border: 1px solid black;
    padding: 1%;
    background-color: #a6c5f7;
    grid-row: 1 / span 2;
    box-sizing: border-box;
}

.vjezbeSaZadacima {
    box-sizing: border-box;
    background-color: #416296;
    margin-right: 5px;
}

.zadatakDugme {
    background-color: #a6c5f7;
    font-size: 0.47em;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    margin: 5px;
    border-radius: 1px;
    border: blue;
}

.vjezbaDugme {
    width: 100%;
    padding: 1.5%;
    border: 1px solid rgb(146, 146, 250);
    border-radius: 0;
}

.vjezbe {
    padding-bottom: 5px;
    margin-right: 5px;
}

.gridKontejner {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.grafPrikaz {
    box-sizing: border-box;
    border: 1px solid black;
}

.graf {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 2%;
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    .gridKontejner {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 100%;
    }
    body {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 499px) {
    li {
        box-sizing: border-box;
        text-align: center;
        display: block;
        width: 100%;
    }
    .zadatakDugme {
        font-size: 0.35em;
    }
    body {
        font-size: 0.7em;
    }
    .gridKontejner {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 100%;
    }
}