#meni {
    padding-left: 1%;
    background-color: #aecbd6;
    padding-top: 60px;
    padding-bottom: 10px;
    height: 30px;
}

body {
    background-color: #e3f0fc;
}

#studenti {
    box-sizing: border-box;
    background-color: #8bc1d6;
    width: 100%;
    order: 1;
}

#grupe {
    order: 2;
    box-sizing: border-box;
    background-color: #4d96b3;
    width: 100%;
    padding: 10px;
}

li {
    display: inline;
    padding-right: 2%;
}

ul {
    margin: 0;
    padding-left: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    padding: 20px;
}

.elementGrida {
    background-color: #dcf1f2;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    text-align: center;
}

#tabelaGrupa {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
}

th,
td,
tr {
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

th {
    background-color: lightblue;
}

#glavna {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    #grupe {
        width: 100%;
        order: 1;
    }
    #studenti {
        width: 100%;
        order: 2;
    }
    #glavna {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
    }
    body {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 499px) {
    #grupe {
        width: 100%;
        order: 1;
    }
    #studenti {
        width: 100%;
        order: 2;
    }
    li {
        box-sizing: border-box;
        text-align: center;
        display: block;
        width: 100%;
    }
    #glavna {
        display: grid;
        grid-template-columns: 100%;
        font-size: 0.7em;
        width: 100%;
    }
    .col3,
    .col2 {
        display: none;
    }
    body {
        font-size: 0.7em;
    }
}