body {
    background-color: #e3f0fc;
}

* {
    box-sizing: border-box;
}

#tabela1,
#tabela2 {
    width: 65%;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #dfe2e8;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    table-layout: fixed;
}

#forma1,
#forma2 {
    font-size: 1.5em;
}

#odabirVjezbe,
#odabirZadatka,
#odabirVerzije {
    font-size: 0.8em;
}

#submitDugme,
#dodajDugme {
    text-align: center;
}

input[type="submit"],
input[type="button"] {
    width: 50%;
    margin: 5px;
    font-size: 0.9em;
}

.komentarNaslov {
    text-align: center;
    font-size: 2em;
}

label {
    padding-right: 10px;
}

textarea {
    max-width: 100%;
    width: 60%;
    min-width: 40%;
}

@media screen and (min-width:500px) and (max-width: 799px) {
    #forma1,
    #forma2 {
        font-size: 1em;
    }
    input[type="submit"],
    input[type="button"] {
        font-size: 0.7em;
        width: 50%;
        margin: 5px;
    }
    #tabela1,
    #tabela2 {
        width: 70%;
        border-radius: 3px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        background-color: #dfe2e8;
        margin-left: auto;
        margin-right: auto;
    }
    .komentarNaslov {
        text-align: center;
        font-size: 1em;
    }
    #odabirVjezbe,
    #odabirZadatka,
    #odabirVerzije {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 499px) {
    #forma1,
    #forma2 {
        font-size: 0.5em;
    }
    input[type="text"] {
        width: 100%;
        font-size: 0.5em;
    }
    input[type="submit"],
    input[type="button"] {
        font-size: 0.5em;
        width: 50%;
        margin: 5px;
    }
    #odabirVjezbe,
    #odabirZadatka,
    #odabirVerzije {
        font-size: 0.5em;
    }
    #tabela1,
    #tabela2 {
        width: 85%;
        border-radius: 3px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        background-color: #dfe2e8;
        margin-left: auto;
        margin-right: auto;
    }
    .komentarNaslov {
        text-align: center;
        font-size: 0.7em;
    }
}